.layoutbox{
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;

 width: 100%;
}
.sidebar {
  min-height: 100vh !important ;
  width: 27%;
  background-color: #0b2e30;
  border-right: 2px solid #071f20;
  color: rgb(247, 239, 239);
  overflow: hidden;
}
.profileinfo{
  width: 100%;
  height: 200px;
  border-bottom: 1px dotted #071f20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profilepic{
  height: 100px;
  width: 100px;
  border: 5px solid rgba(83, 83, 83, 0.786);
  background: #071f20;
  border-radius: 50%;
  font-size: 45px;
  padding-top: 10px;
text-align: center;
}
.dash-container{
  background-color: #eef0fd;
}
.pagebox{
  width: 73%;

}
.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}
.menu-item {
  margin-top: 30px;
}

.menu-item a {
  color:white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
  color: white;
}

.activated {
  background-color: #051616;
  padding: 10px;
}

.activated a,
.activated i {
  color: #c0bfc4;
}
@media (max-width:750px) {
  .sidebar{
    width: 100%;
  }
  .pagebox{
    width: 100%;
  }
}